body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 20px;
}

header .logo img {
    width: 100px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header .search-bar input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../Images/home-garden-arrangement-with-copy-space_23-2148851371\ 1.jpg');
    background-size: fix;
    background-position: center;
    color: #fff;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-top: 10 px;
}

.dropdowns {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.plant-details {
    text-align: left;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #333;
}

.plant-details h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.plant-details p {
    font-size: 1.2em;
    line-height: 1.6;
}